<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  {{> metas}}
  <title>Claro Video</title>
  <script type="text/javascript">
    var akamai = "{{ akamaiDomain }}";
  </script>
  <script async='async' src='https://www.googletagservices.com/tag/js/gpt.js'></script>
  <script type="text/javascript">
    var googletag = googletag || {};
    googletag.cmd = googletag.cmd || [];
  </script>
  <!-- Font Awesome Font -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <!-- Roboto Font -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
</head>

<body>
  {{{ body }}}
  <script src="/dist/assets/app.bundle.js"></script>

  <!-- Tag Manager declaration -->
    <script type="text/javascript">
      // dataLayer = [];
      tcdataLayer = [];
    </script>
    <!-- Google Tag Manager -->
    <noscript>
      <iframe src="//www.googletagmanager.com/ns.html?id={{gtm}}"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','tcdataLayer',"{{gtm}}");
    </script>
  <!-- End Google Tag Manager -->
</body>
</html>
